.container {
    display: fixed;
    width: 47vw;
    max-width: 530px;
    height: 34vh;
    position: fixed;
    bottom: 0px;
    left: 9vw;
    background: rgb(0, 0, 0, 0.8);   
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.box {
    width: 100%;
    height: 100%;
    z-index: 1;
   
}

.box img{
    width: 100%;
    height: 130%;
    opacity: 0.8;
    
}

.choice {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 0.8rem;
    width: 100%;
    text-align: center;
    text-justify: center;
    color: white;
}

.label{
    flex-grow: 3;
    background: rgb(0, 0, 0, 0.6);
    border-top: 1px solid grey;
    border-right: 2px solid grey;
    border-left: 2px solid grey;
    padding: 0 1px;
    border-radius: 4px;
    cursor: pointer;
    width: auto;
    
}

.label:hover{
    transition: all 0.2s;
    transform: translateY(-0.4vh);
}

@media screen and (max-width: 760px) {
    .container {
      width: 90vw;
      left: 5vw
    }}