.container {
    display: fixed;
    width: 47vw;
    max-width: 530px;
    height: 34vh;
    position: fixed;
    bottom: 0px;
    left: 9vw;
    background: rgb(0, 0, 0, 0.8);   
    box-shadow: 2px 10px grey;
}

.box {
    width: 100%;
    height: 100%;
    z-index: 1;
   
}

.box img{
    width: 100%;
    height: 130%;
    opacity: 0.8;
    
}

.choice {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 0.8rem;
    width: 100%;
    text-align: center;
    text-justify: center;
    color: white;
}

.label{
    flex-grow: 3;
    background: rgb(0, 0, 0, 0.6);
    border-top: 1px solid grey;
    border-right: 2px solid grey;
    border-left: 2px solid grey;
    padding: 0 1px;
    border-radius: 4px;
    cursor: pointer;
    width: auto;
    
}

.label:hover{
    transition: all 0.2s;
    transform: translateY(-0.4vh);
}

