.App {
  
}

.entry img {
 
}

.container {
  background-color: rgb(172, 190, 190);
  
}
header {
  background-color: rgb(177, 127, 224);
  height: 200px;
}

.entry {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 30%;
  background-color: rgb(235, 225, 225);
  border: 2px solid black; 
  position: relative;
}


.entry ul {
  align-self: center;
  justify-self: center;
    
}

.description {
 text-align: justify;
}

.entry img {
  width: 100%;
}