.App {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-image: url(./assets/30.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
}

.entry img {
}

.container {
  width: 35%;
  margin-left: 3em;
  margin-right: 3em;
}
header {
 
  height: 5em;
  width: 100%;
}

.entry {
  display: flex;
  flex-direction: column;
  margin-bottom: 3em;
  width: 100%;
  border-radius: 1%;
}

@media screen and (max-width: 760px) {
  .entry {
    width: 90%;
    margin: 0 auto ;
  }
  header {
    width: 90%;
    margin: 0 auto;
  }
}

.entry ul {
  align-self: center;
  justify-self: center;
}

.description {
  text-align: justify;
}

.entry img {
  width: 100%;
}

.secondContainer {
  display: flex;
  justify-content: flex-end;
  height: cover;
  width: 40%;
}

.socialMedia {
 position: fixed;
 bottom: 14%;
 right: 10%;

}
