* {
  margin: 0;
  border: 0;
}


.entrycontainer{
     perspective: 1000px; 
     height: 50vh;
     width: 100%;
     cursor: pointer;
     margin-bottom: 3vh;
     border-radius: 7px;
     transform: translateY(3vh);
     transition: transform 0.8s ease-out;
     visibility: visible;
     z-index: -1;
}

.down {
  perspective: 1000px; 
  height: 50vh;
  width: 100%;
  cursor: pointer;
  margin-bottom: 3vh;
  transform: translateY(35vh) scale(0.25) translateY(50vh);
  border-radius: 7px;   
  transition: all 0.4s ease-in;
  visibility: hidden;
  z-index: 5;
 
}


.entry {
    margin-bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 7px;   
    position: relative;
    transition: transform 1s; 
    transform-style: preserve-3d;
  }

  .extra {
  transform: rotateY(0deg);
  }

  .rotatright {
    transform: rotateY(120deg);
    
  }

  .rotatleft {
    transform: rotateY(240deg);
    
  }

  .left, .front, .right{
      top: 00px;
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      display: block;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgb(224, 224, 244, 0.5);
      border: 1px solid #888888;
      
  }
 

  .left{
    transform: rotateY(120deg);
  }

  .right{
    transform: rotateY(240deg);
  }

 .description {
    text-align: justify;
    height: 100%;
    width: 100%;
  }

  .iframe{
    width: 100%;
    height: 80%;
    padding-top: 3%;
  }
  
  @media screen and (max-width: 760px) {
    .entry {
      width: 90%;
      margin: 0 auto ;
    }
  }
  
  /*.entry ul {
    align-self: center;
    justify-self: center;
  }*/

  .front img {
    width: 90%;
    height: 80%;
    margin: 5%;
    z-index: 1;
  }

 