* {
  margin: 0;
  border: 0;
}


.entrycontainer{
     perspective: 1000px; 
     height: 50vh;
     width: 100%;
     cursor: pointer;
     margin-bottom: 3vh;
     border-radius: 7px;
     transform: translateY(3vh);
     transition: transform 0.8s ease-out;
     visibility: visible;
     z-index: -1;
}

.down {
  perspective: 1000px; 
  height: 50vh;
  width: 100%;
  cursor: pointer;
  margin-bottom: 3vh;
  transform: translateY(35vh) scale(0.25) translateY(50vh);
  border-radius: 7px;   
  transition: all 0.4s ease-in;
  visibility: hidden;
  z-index: 5;
 
}


.entry {
    margin-bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 7px;   
    position: relative;
    transition: transform 1s; 
    transform-style: preserve-3d;
  }

  .extra {
  transform: rotateY(0deg);
  }

  .rotatright {
    transform: rotateY(120deg);
    
  }

  .rotatleft {
    transform: rotateY(240deg);
    
  }

  .left, .front, .right{
      top: 0px;
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      display: block;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      background-color: rgb(224, 224, 244, 0.1);
      border-radius: 3%;
      box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12);
      
  }

  .left > *,
   .front > *,
  .right > * {
  border-radius: 3%;
  padding: 0.2em 0em;
}
  .front:hover {
    transform: scale(0.995);
  }

  .left{
    transform: rotateY(120deg);
  }

  .right{
    transform: rotateY(240deg);
  }

 .description {
    text-align: justify;
    height: 90%;
    width: 90%;
    padding: 5%;
    max-height: 90%;
    margin: 2em auto;
    overflow-y: auto;
  }

  .description::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .description::-webkit-scrollbar {
    width: 5px;
  }

  .description::-webkit-scrollbar-thumb {
    border: 1px solid transparent;
    background-color: transparent;
  }
  .iframe{
    width: 100%;
    height: 80%;
    padding-top: 3%;
    padding-top: 3%;
  }
  
  @media screen and (max-width: 760px) {
    .entry {
      width: 90%;
      margin: 0 auto ;
    }
    .iframe {
      width: 90%;
      margin: 0 auto;
    }
    .description {
      overflow-y: scroll;
      overflow-x: hidden;
    }
    .front img {
      width: 100%;
      height: 90%;
    }
    .entrycontainer {
      height: 40vh;
    }
  }
  
 

  .front img {
    width: 85%;
    height: 85%;
    -webkit-box-shadow: 0 6px 6px -6px rgb(135, 137, 136);
    -moz-box-shadow: 0 6px 6px -6px rgb(135, 137, 136);
       box-shadow: 0 6px 6px -6px rgb(135, 137, 136);
    margin: 0 0 0 7.5%;
    z-index: 1;
  }

  .front h1 {
    width: 85%;
    font-size: x-large;
    margin-top: 0.1em;
  }

  @media screen and (max-width: 1260px) {
    .description {
      overflow-y: scroll;
      overflow-x: hidden;
    }
   .entrycontainer {
     height: 50vh;
   }
  }
  
  @media screen and (max-width: 760px) and (min-width: 500px) {
    .entry {
      width: 80%;
    }
    .front img {
      width: 80%;
      height: 80%;
    }
    .entrycontainer {
      height: 50vh;
    }
  }
  @media screen and (max-width: 950px) and (min-width: 761px) {
    .entry {
      width: 100%;
    }
    .entrycontainer {
      height: 50vh;
    }
  }
  

 